.signin {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 100%;
  margin-top: 5rem;

  .form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .password-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
  }
}
